# Restaurant Food Cost

# Import libraries

In [94]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

### Import datasets

In [95]:
train = pd.read_excel('Data_Test.xlsx')
test = pd.read_excel('Data_Train.xlsx')

In [96]:
train.shape, test.shape

((4231, 8), (12690, 9))

### Data exploration

In [97]:
train.duplicated().sum(), test.duplicated().sum()

(1, 25)

In [98]:
train.drop_duplicates(keep='first', inplace=True)

In [99]:
train.reset_index(inplace=True)

In [100]:
test.drop_duplicates(keep='first', inplace=True)

In [101]:
test.reset_index(inplace=True)

In [102]:
train.head()

,index,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [103]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4230 entries, 0 to 4229
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          4230 non-null   int64
 1   TITLE          4230 non-null   object
 2   RESTAURANT_ID  4230 non-null   int64
 3   CUISINES       4230 non-null   object
 4   TIME           4230 non-null   object
 5   CITY           4195 non-null   object
 6   LOCALITY       4200 non-null   object
 7   RATING         4228 non-null   object
 8   VOTES          3828 non-null   object
dtypes: int64(2), object(7)
memory usage: 297.5+ KB

In [104]:
train.isnull().sum()

index              0
TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [105]:
for i in train.columns:
    print("Unique values in", i, train[i].nunique())

Unique values in index 4230
Unique values in TITLE 86
Unique values in RESTAURANT_ID 4127
Unique values in CUISINES 1727
Unique values in TIME 1183
Unique values in CITY 151
Unique values in LOCALITY 834
Unique values in RATING 31
Unique values in VOTES 1136

### Data pre-processing

In [106]:
# merge train and test
df = train.append(test,ignore_index=True)

In [107]:
df = df[['TITLE', 'CUISINES', 'TIME', 'CITY', 'LOCALITY', 'RATING', 'VOTES', 'COST']]

In [108]:
def extract_closed(time):
    a = re.findall('Closed \(.*?\)', time)
    if a != []:
        return a[0]
    else:
        return 'NA'

df['CLOSED'] = df['TIME'].apply(extract_closed)

In [109]:
df['TIME'] = df['TIME'].str.replace(r'Closed \(.*?\)','')

In [110]:
df['TIME'] = df['TIME'].str.replace(r'Closed...','')

In [111]:
df['RATING'] = df['RATING'].str.replace('NEW', '1')
df['RATING'] = df['RATING'].str.replace('-', '1').astype(float)

In [112]:
df['VOTES'] = df['VOTES'].str.replace(' votes', '').astype(float)

In [113]:
df['CITY'].fillna('Missing', inplace=True)  
df['LOCALITY'].fillna('Missing', inplace=True)  
df['RATING'].fillna(3.8, inplace=True)  
df['VOTES'].fillna(0.0, inplace=True)

In [114]:
df['COST'] = df['COST'].astype(float)

In [115]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564.0,NaN,NA
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61.0,NaN,NA

In [116]:
df['TITLE'].nunique(), df['CUISINES'].nunique()

(123, 5183)

In [117]:
calc_mean = df.groupby(['CITY'], axis=0).agg({'RATING': 'mean'}).reset_index()
calc_mean.columns = ['CITY','CITY_MEAN_RATING']
df = df.merge(calc_mean, on=['CITY'],how='left')

calc_mean = df.groupby(['LOCALITY'], axis=0).agg({'RATING': 'mean'}).reset_index()
calc_mean.columns = ['LOCALITY','LOCALITY_MEAN_RATING']
df = df.merge(calc_mean, on=['LOCALITY'],how='left')

In [118]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED,CITY_MEAN_RATING,LOCALITY_MEAN_RATING
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564.0,NaN,NA,3.634672,3.917949
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61.0,NaN,NA,3.697132,3.723077

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer


tf1 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_title = tf1.fit_transform(df['TITLE'])
df_title = pd.DataFrame(data=df_title.toarray(), columns=tf1.get_feature_names_out())

tf2 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_cuisines = tf2.fit_transform(df['CUISINES'])
df_cuisines = pd.DataFrame(data=df_cuisines.toarray(), columns=tf2.get_feature_names_out())

tf3 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_city = tf3.fit_transform(df['CITY'])
df_city = pd.DataFrame(data=df_city.toarray(), columns=tf3.get_feature_names_out())

tf4 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_locality = tf4.fit_transform(df['LOCALITY'])
df_locality = pd.DataFrame(data=df_locality.toarray(), columns=tf4.get_feature_names_out())

tf5 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_time = tf5.fit_transform(df['TIME'])
df_time = pd.DataFrame(data=df_time.toarray(), columns=tf5.get_feature_names_out())

In [120]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED,CITY_MEAN_RATING,LOCALITY_MEAN_RATING
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564.0,NaN,NA,3.634672,3.917949
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61.0,NaN,NA,3.697132,3.723077

In [121]:
df = pd.concat([df, df_title, df_cuisines, df_city, df_locality, df_time], axis=1) 
df.drop(['TITLE', 'CUISINES', 'CITY', 'LOCALITY', 'TIME'], axis=1, inplace=True)

In [122]:
df = pd.get_dummies(df, columns=['CLOSED'], drop_first=True)

In [123]:
df.shape

(16895, 2284)

In [124]:
train_df = df[df['COST'].isnull()!=True]
test_df = df[df['COST'].isnull()==True]
test_df.drop('COST', axis=1, inplace=True)

In [125]:
test_df.shape, train_df.shape

((4230, 2283), (12665, 2284))

In [126]:
train_df['COST'] = np.log1p(train_df['COST'])

In [127]:
# Check for duplicate column names
duplicate_columns = df.columns[df.columns.duplicated()]
print("Duplicate feature names:", duplicate_columns)

Duplicate feature names: Index(['bakery', 'bar', 'cafe', 'food', 'paan', 'bar', 'indian', 'kerala',
       'malaysian', 'only',
       ...
       'vyttila', 'wagle', 'ward', 'west', 'whitefield', 'yousufguda', '10',
       '11', '12', '24'],
      dtype='object', length=352)

In [154]:
# Assuming df is your DataFrame and 'bakery' is the duplicate feature name
df.rename(columns={'bakery': 'bakery_2'}, inplace=True)

# Alternatively, you can drop one of the duplicate columns
df.drop(columns=['bakery'], inplace=True)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mdirf\AppData\Local\Temp\ipykernel_11612\3584603512.py", line 5, in <module>
    df.drop(columns=['bakery'], inplace=True)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\util\_decorators.py", line 331, in wrapper
    stacklevel=find_stack_level(),
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\core\frame.py", line 5399, in drop
    columns: IndexLabel = ...,
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\util\_decorators.py", line 331, in wrapper
    stacklevel=find_stack_level(),
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\core\generic.py", line 4505, in drop
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\core\generic.py", line 4546, in _drop_axis
    ...     ],
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 6934, in drop
KeyError: "['bakery'] not found in axis"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [155]:
try:
    # Your code that may raise an exception goes here
    # For example, training the LightGBM model
    lgbm = lgb.train(params=param, train_set=train_data, valid_sets=[test_data])
    y_pred_lgbm = lgbm.predict(X_cv)
    print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred_lgbm))))
except Exception as e:
    # Print the exception message
    print(f"An error occurred: {str(e)}")
    # Optionally, you can also log the exception for further investigation
    # logging.error(f"An error occurred: {str(e)}")

An error occurred: Feature (bakery) appears more than one time.

In [156]:
print(df.columns.tolist())

['feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_19', 'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36', 'feature_37', 'feature_38', 'feature_39', 'feature_40', 'feature_41', 'feature_42', 'feature_43', 'feature_44', 'feature_45', 'feature_46', 'feature_47', 'feature_48', 'feature_49', 'feature_50', 'feature_51', 'feature_52', 'feature_53', 'feature_54', 'feature_55', 'feature_56', 'feature_57', 'feature_58', 'feature_59', 'feature_60', 'feature_61', 'feature_62', 'feature_63', 'feature_64', 'feature_65', 'feature_66', 'feature_67', 'feature_68', 'feature_69', 'feature_70', 'feature_71', 'feature_72', 'feature_73', 'feature_74', 'feature_75', 'feature_76', 'feature_77', 'feature_78', 'feature_79', 'feature_80', 'feature_81', 'feature_82', 'feature_83', 'feature_84', 'feature_85', 'feature_86', 'feature_87', 'feature_88', 'feature_89', 'feature_90', 'feature_91', 'feature_92', 'feature_93', 'feature_94', 'feature_95', 'feature_96', 'feature_97', 'feature_98', 'feature_99', 'feature_100', 'feature_101', 'feature_102', 'feature_103', 'feature_104', 'feature_105', 'feature_106', 'feature_107', 'feature_108', 'feature_109', 'feature_110', 'feature_111', 'feature_112', 'feature_113', 'feature_114', 'feature_115', 'feature_116', 'feature_117', 'feature_118', 'feature_119', 'feature_120', 'feature_121', 'feature_122', 'feature_123', 'feature_124', 'feature_125', 'feature_126', 'feature_127', 'feature_128', 'feature_129', 'feature_130', 'feature_131', 'feature_132', 'feature_133', 'feature_134', 'feature_135', 'feature_136', 'feature_137', 'feature_138', 'feature_139', 'feature_140', 'feature_141', 'feature_142', 'feature_143', 'feature_144', 'feature_145', 'feature_146', 'feature_147', 'feature_148', 'feature_149', 'feature_150', 'feature_151', 'feature_152', 'feature_153', 'feature_154', 'feature_155', 'feature_156', 'feature_157', 'feature_158', 'feature_159', 'feature_160', 'feature_161', 'feature_162', 'feature_163', 'feature_164', 'feature_165', 'feature_166', 'feature_167', 'feature_168', 'feature_169', 'feature_170', 'feature_171', 'feature_172', 'feature_173', 'feature_174', 'feature_175', 'feature_176', 'feature_177', 'feature_178', 'feature_179', 'feature_180', 'feature_181', 'feature_182', 'feature_183', 'feature_184', 'feature_185', 'feature_186', 'feature_187', 'feature_188', 'feature_189', 'feature_190', 'feature_191', 'feature_192', 'feature_193', 'feature_194', 'feature_195', 'feature_196', 'feature_197', 'feature_198', 'feature_199', 'feature_200', 'feature_201', 'feature_202', 'feature_203', 'feature_204', 'feature_205', 'feature_206', 'feature_207', 'feature_208', 'feature_209', 'feature_210', 'feature_211', 'feature_212', 'feature_213', 'feature_214', 'feature_215', 'feature_216', 'feature_217', 'feature_218', 'feature_219', 'feature_220', 'feature_221', 'feature_222', 'feature_223', 'feature_224', 'feature_225', 'feature_226', 'feature_227', 'feature_228', 'feature_229', 'feature_230', 'feature_231', 'feature_232', 'feature_233', 'feature_234', 'feature_235', 'feature_236', 'feature_237', 'feature_238', 'feature_239', 'feature_240', 'feature_241', 'feature_242', 'feature_243', 'feature_244', 'feature_245', 'feature_246', 'feature_247', 'feature_248', 'feature_249', 'feature_250', 'feature_251', 'feature_252', 'feature_253', 'feature_254', 'feature_255', 'feature_256', 'feature_257', 'feature_258', 'feature_259', 'feature_260', 'feature_261', 'feature_262', 'feature_263', 'feature_264', 'feature_265', 'feature_266', 'feature_267', 'feature_268', 'feature_269', 'feature_270', 'feature_271', 'feature_272', 'feature_273', 'feature_274', 'feature_275', 'feature_276', 'feature_277', 'feature_278', 'feature_279', 'feature_280', 'feature_281', 'feature_282', 'feature_283', 'feature_284', 'feature_285', 'feature_286', 'feature_287', 'feature_288', 'feature_289', 'feature_290', 'feature_291', 'feature_292', 'feature_293', 'feature_294', 'feature_295', 'feature_296', 'feature_297', 'feature_298', 'feature_299', 'feature_300', 'feature_301', 'feature_302', 'feature_303', 'feature_304', 'feature_305', 'feature_306', 'feature_307', 'feature_308', 'feature_309', 'feature_310', 'feature_311', 'feature_312', 'feature_313', 'feature_314', 'feature_315', 'feature_316', 'feature_317', 'feature_318', 'feature_319', 'feature_320', 'feature_321', 'feature_322', 'feature_323', 'feature_324', 'feature_325', 'feature_326', 'feature_327', 'feature_328', 'feature_329', 'feature_330', 'feature_331', 'feature_332', 'feature_333', 'feature_334', 'feature_335', 'feature_336', 'feature_337', 'feature_338', 'feature_339', 'feature_340', 'feature_341', 'feature_342', 'feature_343', 'feature_344', 'feature_345', 'feature_346', 'feature_347', 'feature_348', 'feature_349', 'feature_350', 'feature_351', 'feature_352', 'feature_353', 'feature_354', 'feature_355', 'feature_356', 'feature_357', 'feature_358', 'feature_359', 'feature_360', 'feature_361', 'feature_362', 'feature_363', 'feature_364', 'feature_365', 'feature_366', 'feature_367', 'feature_368', 'feature_369', 'feature_370', 'feature_371', 'feature_372', 'feature_373', 'feature_374', 'feature_375', 'feature_376', 'feature_377', 'feature_378', 'feature_379', 'feature_380', 'feature_381', 'feature_382', 'feature_383', 'feature_384', 'feature_385', 'feature_386', 'feature_387', 'feature_388', 'feature_389', 'feature_390', 'feature_391', 'feature_392', 'feature_393', 'feature_394', 'feature_395', 'feature_396', 'feature_397', 'feature_398', 'feature_399', 'feature_400', 'feature_401', 'feature_402', 'feature_403', 'feature_404', 'feature_405', 'feature_406', 'feature_407', 'feature_408', 'feature_409', 'feature_410', 'feature_411', 'feature_412', 'feature_413', 'feature_414', 'feature_415', 'feature_416', 'feature_417', 'feature_418', 'feature_419', 'feature_420', 'feature_421', 'feature_422', 'feature_423', 'feature_424', 'feature_425', 'feature_426', 'feature_427', 'feature_428', 'feature_429', 'feature_430', 'feature_431', 'feature_432', 'feature_433', 'feature_434', 'feature_435', 'feature_436', 'feature_437', 'feature_438', 'feature_439', 'feature_440', 'feature_441', 'feature_442', 'feature_443', 'feature_444', 'feature_445', 'feature_446', 'feature_447', 'feature_448', 'feature_449', 'feature_450', 'feature_451', 'feature_452', 'feature_453', 'feature_454', 'feature_455', 'feature_456', 'feature_457', 'feature_458', 'feature_459', 'feature_460', 'feature_461', 'feature_462', 'feature_463', 'feature_464', 'feature_465', 'feature_466', 'feature_467', 'feature_468', 'feature_469', 'feature_470', 'feature_471', 'feature_472', 'feature_473', 'feature_474', 'feature_475', 'feature_476', 'feature_477', 'feature_478', 'feature_479', 'feature_480', 'feature_481', 'feature_482', 'feature_483', 'feature_484', 'feature_485', 'feature_486', 'feature_487', 'feature_488', 'feature_489', 'feature_490', 'feature_491', 'feature_492', 'feature_493', 'feature_494', 'feature_495', 'feature_496', 'feature_497', 'feature_498', 'feature_499', 'feature_500', 'feature_501', 'feature_502', 'feature_503', 'feature_504', 'feature_505', 'feature_506', 'feature_507', 'feature_508', 'feature_509', 'feature_510', 'feature_511', 'feature_512', 'feature_513', 'feature_514', 'feature_515', 'feature_516', 'feature_517', 'feature_518', 'feature_519', 'feature_520', 'feature_521', 'feature_522', 'feature_523', 'feature_524', 'feature_525', 'feature_526', 'feature_527', 'feature_528', 'feature_529', 'feature_530', 'feature_531', 'feature_532', 'feature_533', 'feature_534', 'feature_535', 'feature_536', 'feature_537', 'feature_538', 'feature_539', 'feature_540', 'feature_541', 'feature_542', 'feature_543', 'feature_544', 'feature_545', 'feature_546', 'feature_547', 'feature_548', 'feature_549', 'feature_550', 'feature_551', 'feature_552', 'feature_553', 'feature_554', 'feature_555', 'feature_556', 'feature_557', 'feature_558', 'feature_559', 'feature_560', 'feature_561', 'feature_562', 'feature_563', 'feature_564', 'feature_565', 'feature_566', 'feature_567', 'feature_568', 'feature_569', 'feature_570', 'feature_571', 'feature_572', 'feature_573', 'feature_574', 'feature_575', 'feature_576', 'feature_577', 'feature_578', 'feature_579', 'feature_580', 'feature_581', 'feature_582', 'feature_583', 'feature_584', 'feature_585', 'feature_586', 'feature_587', 'feature_588', 'feature_589', 'feature_590', 'feature_591', 'feature_592', 'feature_593', 'feature_594', 'feature_595', 'feature_596', 'feature_597', 'feature_598', 'feature_599', 'feature_600', 'feature_601', 'feature_602', 'feature_603', 'feature_604', 'feature_605', 'feature_606', 'feature_607', 'feature_608', 'feature_609', 'feature_610', 'feature_611', 'feature_612', 'feature_613', 'feature_614', 'feature_615', 'feature_616', 'feature_617', 'feature_618', 'feature_619', 'feature_620', 'feature_621', 'feature_622', 'feature_623', 'feature_624', 'feature_625', 'feature_626', 'feature_627', 'feature_628', 'feature_629', 'feature_630', 'feature_631', 'feature_632', 'feature_633', 'feature_634', 'feature_635', 'feature_636', 'feature_637', 'feature_638', 'feature_639', 'feature_640', 'feature_641', 'feature_642', 'feature_643', 'feature_644', 'feature_645', 'feature_646', 'feature_647', 'feature_648', 'feature_649', 'feature_650', 'feature_651', 'feature_652', 'feature_653', 'feature_654', 'feature_655', 'feature_656', 'feature_657', 'feature_658', 'feature_659', 'feature_660', 'feature_661', 'feature_662', 'feature_663', 'feature_664', 'feature_665', 'feature_666', 'feature_667', 'feature_668', 'feature_669', 'feature_670', 'feature_671', 'feature_672', 'feature_673', 'feature_674', 'feature_675', 'feature_676', 'feature_677', 'feature_678', 'feature_679', 'feature_680', 'feature_681', 'feature_682', 'feature_683', 'feature_684', 'feature_685', 'feature_686', 'feature_687', 'feature_688', 'feature_689', 'feature_690', 'feature_691', 'feature_692', 'feature_693', 'feature_694', 'feature_695', 'feature_696', 'feature_697', 'feature_698', 'feature_699', 'feature_700', 'feature_701', 'feature_702', 'feature_703', 'feature_704', 'feature_705', 'feature_706', 'feature_707', 'feature_708', 'feature_709', 'feature_710', 'feature_711', 'feature_712', 'feature_713', 'feature_714', 'feature_715', 'feature_716', 'feature_717', 'feature_718', 'feature_719', 'feature_720', 'feature_721', 'feature_722', 'feature_723', 'feature_724', 'feature_725', 'feature_726', 'feature_727', 'feature_728', 'feature_729', 'feature_730', 'feature_731', 'feature_732', 'feature_733', 'feature_734', 'feature_735', 'feature_736', 'feature_737', 'feature_738', 'feature_739', 'feature_740', 'feature_741', 'feature_742', 'feature_743', 'feature_744', 'feature_745', 'feature_746', 'feature_747', 'feature_748', 'feature_749', 'feature_750', 'feature_751', 'feature_752', 'feature_753', 'feature_754', 'feature_755', 'feature_756', 'feature_757', 'feature_758', 'feature_759', 'feature_760', 'feature_761', 'feature_762', 'feature_763', 'feature_764', 'feature_765', 'feature_766', 'feature_767', 'feature_768', 'feature_769', 'feature_770', 'feature_771', 'feature_772', 'feature_773', 'feature_774', 'feature_775', 'feature_776', 'feature_777', 'feature_778', 'feature_779', 'feature_780', 'feature_781', 'feature_782', 'feature_783', 'feature_784', 'feature_785', 'feature_786', 'feature_787', 'feature_788', 'feature_789', 'feature_790', 'feature_791', 'feature_792', 'feature_793', 'feature_794', 'feature_795', 'feature_796', 'feature_797', 'feature_798', 'feature_799', 'feature_800', 'feature_801', 'feature_802', 'feature_803', 'feature_804', 'feature_805', 'feature_806', 'feature_807', 'feature_808', 'feature_809', 'feature_810', 'feature_811', 'feature_812', 'feature_813', 'feature_814', 'feature_815', 'feature_816', 'feature_817', 'feature_818', 'feature_819', 'feature_820', 'feature_821', 'feature_822', 'feature_823', 'feature_824', 'feature_825', 'feature_826', 'feature_827', 'feature_828', 'feature_829', 'feature_830', 'feature_831', 'feature_832', 'feature_833', 'feature_834', 'feature_835', 'feature_836', 'feature_837', 'feature_838', 'feature_839', 'feature_840', 'feature_841', 'feature_842', 'feature_843', 'feature_844', 'feature_845', 'feature_846', 'feature_847', 'feature_848', 'feature_849', 'feature_850', 'feature_851', 'feature_852', 'feature_853', 'feature_854', 'feature_855', 'feature_856', 'feature_857', 'feature_858', 'feature_859', 'feature_860', 'feature_861', 'feature_862', 'feature_863', 'feature_864', 'feature_865', 'feature_866', 'feature_867', 'feature_868', 'feature_869', 'feature_870', 'feature_871', 'feature_872', 'feature_873', 'feature_874', 'feature_875', 'feature_876', 'feature_877', 'feature_878', 'feature_879', 'feature_880', 'feature_881', 'feature_882', 'feature_883', 'feature_884', 'feature_885', 'feature_886', 'feature_887', 'feature_888', 'feature_889', 'feature_890', 'feature_891', 'feature_892', 'feature_893', 'feature_894', 'feature_895', 'feature_896', 'feature_897', 'feature_898', 'feature_899', 'feature_900', 'feature_901', 'feature_902', 'feature_903', 'feature_904', 'feature_905', 'feature_906', 'feature_907', 'feature_908', 'feature_909', 'feature_910', 'feature_911', 'feature_912', 'feature_913', 'feature_914', 'feature_915', 'feature_916', 'feature_917', 'feature_918', 'feature_919', 'feature_920', 'feature_921', 'feature_922', 'feature_923', 'feature_924', 'feature_925', 'feature_926', 'feature_927', 'feature_928', 'feature_929', 'feature_930', 'feature_931', 'feature_932', 'feature_933', 'feature_934', 'feature_935', 'feature_936', 'feature_937', 'feature_938', 'feature_939', 'feature_940', 'feature_941', 'feature_942', 'feature_943', 'feature_944', 'feature_945', 'feature_946', 'feature_947', 'feature_948', 'feature_949', 'feature_950', 'feature_951', 'feature_952', 'feature_953', 'feature_954', 'feature_955', 'feature_956', 'feature_957', 'feature_958', 'feature_959', 'feature_960', 'feature_961', 'feature_962', 'feature_963', 'feature_964', 'feature_965', 'feature_966', 'feature_967', 'feature_968', 'feature_969', 'feature_970', 'feature_971', 'feature_972', 'feature_973', 'feature_974', 'feature_975', 'feature_976', 'feature_977', 'feature_978', 'feature_979', 'feature_980', 'feature_981', 'feature_982', 'feature_983', 'feature_984', 'feature_985', 'feature_986', 'feature_987', 'feature_988', 'feature_989', 'feature_990', 'feature_991', 'feature_992', 'feature_993', 'feature_994', 'feature_995', 'feature_996', 'feature_997', 'feature_998', 'feature_999', 'feature_1000', 'feature_1001', 'feature_1002', 'feature_1003', 'feature_1004', 'feature_1005', 'feature_1006', 'feature_1007', 'feature_1008', 'feature_1009', 'feature_1010', 'feature_1011', 'feature_1012', 'feature_1013', 'feature_1014', 'feature_1015', 'feature_1016', 'feature_1017', 'feature_1018', 'feature_1019', 'feature_1020', 'feature_1021', 'feature_1022', 'feature_1023', 'feature_1024', 'feature_1025', 'feature_1026', 'feature_1027', 'feature_1028', 'feature_1029', 'feature_1030', 'feature_1031', 'feature_1032', 'feature_1033', 'feature_1034', 'feature_1035', 'feature_1036', 'feature_1037', 'feature_1038', 'feature_1039', 'feature_1040', 'feature_1041', 'feature_1042', 'feature_1043', 'feature_1044', 'feature_1045', 'feature_1046', 'feature_1047', 'feature_1048', 'feature_1049', 'feature_1050', 'feature_1051', 'feature_1052', 'feature_1053', 'feature_1054', 'feature_1055', 'feature_1056', 'feature_1057', 'feature_1058', 'feature_1059', 'feature_1060', 'feature_1061', 'feature_1062', 'feature_1063', 'feature_1064', 'feature_1065', 'feature_1066', 'feature_1067', 'feature_1068', 'feature_1069', 'feature_1070', 'feature_1071', 'feature_1072', 'feature_1073', 'feature_1074', 'feature_1075', 'feature_1076', 'feature_1077', 'feature_1078', 'feature_1079', 'feature_1080', 'feature_1081', 'feature_1082', 'feature_1083', 'feature_1084', 'feature_1085', 'feature_1086', 'feature_1087', 'feature_1088', 'feature_1089', 'feature_1090', 'feature_1091', 'feature_1092', 'feature_1093', 'feature_1094', 'feature_1095', 'feature_1096', 'feature_1097', 'feature_1098', 'feature_1099', 'feature_1100', 'feature_1101', 'feature_1102', 'feature_1103', 'feature_1104', 'feature_1105', 'feature_1106', 'feature_1107', 'feature_1108', 'feature_1109', 'feature_1110', 'feature_1111', 'feature_1112', 'feature_1113', 'feature_1114', 'feature_1115', 'feature_1116', 'feature_1117', 'feature_1118', 'feature_1119', 'feature_1120', 'feature_1121', 'feature_1122', 'feature_1123', 'feature_1124', 'feature_1125', 'feature_1126', 'feature_1127', 'feature_1128', 'feature_1129', 'feature_1130', 'feature_1131', 'feature_1132', 'feature_1133', 'feature_1134', 'feature_1135', 'feature_1136', 'feature_1137', 'feature_1138', 'feature_1139', 'feature_1140', 'feature_1141', 'feature_1142', 'feature_1143', 'feature_1144', 'feature_1145', 'feature_1146', 'feature_1147', 'feature_1148', 'feature_1149', 'feature_1150', 'feature_1151', 'feature_1152', 'feature_1153', 'feature_1154', 'feature_1155', 'feature_1156', 'feature_1157', 'feature_1158', 'feature_1159', 'feature_1160', 'feature_1161', 'feature_1162', 'feature_1163', 'feature_1164', 'feature_1165', 'feature_1166', 'feature_1167', 'feature_1168', 'feature_1169', 'feature_1170', 'feature_1171', 'feature_1172', 'feature_1173', 'feature_1174', 'feature_1175', 'feature_1176', 'feature_1177', 'feature_1178', 'feature_1179', 'feature_1180', 'feature_1181', 'feature_1182', 'feature_1183', 'feature_1184', 'feature_1185', 'feature_1186', 'feature_1187', 'feature_1188', 'feature_1189', 'feature_1190', 'feature_1191', 'feature_1192', 'feature_1193', 'feature_1194', 'feature_1195', 'feature_1196', 'feature_1197', 'feature_1198', 'feature_1199', 'feature_1200', 'feature_1201', 'feature_1202', 'feature_1203', 'feature_1204', 'feature_1205', 'feature_1206', 'feature_1207', 'feature_1208', 'feature_1209', 'feature_1210', 'feature_1211', 'feature_1212', 'feature_1213', 'feature_1214', 'feature_1215', 'feature_1216', 'feature_1217', 'feature_1218', 'feature_1219', 'feature_1220', 'feature_1221', 'feature_1222', 'feature_1223', 'feature_1224', 'feature_1225', 'feature_1226', 'feature_1227', 'feature_1228', 'feature_1229', 'feature_1230', 'feature_1231', 'feature_1232', 'feature_1233', 'feature_1234', 'feature_1235', 'feature_1236', 'feature_1237', 'feature_1238', 'feature_1239', 'feature_1240', 'feature_1241', 'feature_1242', 'feature_1243', 'feature_1244', 'feature_1245', 'feature_1246', 'feature_1247', 'feature_1248', 'feature_1249', 'feature_1250', 'feature_1251', 'feature_1252', 'feature_1253', 'feature_1254', 'feature_1255', 'feature_1256', 'feature_1257', 'feature_1258', 'feature_1259', 'feature_1260', 'feature_1261', 'feature_1262', 'feature_1263', 'feature_1264', 'feature_1265', 'feature_1266', 'feature_1267', 'feature_1268', 'feature_1269', 'feature_1270', 'feature_1271', 'feature_1272', 'feature_1273', 'feature_1274', 'feature_1275', 'feature_1276', 'feature_1277', 'feature_1278', 'feature_1279', 'feature_1280', 'feature_1281', 'feature_1282', 'feature_1283', 'feature_1284', 'feature_1285', 'feature_1286', 'feature_1287', 'feature_1288', 'feature_1289', 'feature_1290', 'feature_1291', 'feature_1292', 'feature_1293', 'feature_1294', 'feature_1295', 'feature_1296', 'feature_1297', 'feature_1298', 'feature_1299', 'feature_1300', 'feature_1301', 'feature_1302', 'feature_1303', 'feature_1304', 'feature_1305', 'feature_1306', 'feature_1307', 'feature_1308', 'feature_1309', 'feature_1310', 'feature_1311', 'feature_1312', 'feature_1313', 'feature_1314', 'feature_1315', 'feature_1316', 'feature_1317', 'feature_1318', 'feat

In [157]:
# Generate unique names for all features
df.columns = [f"feature_{i}" for i in range(len(df.columns))]

### Train test split

In [158]:
X = train_df.drop(labels=['COST'], axis=1)
y = train_df['COST'].values

from sklearn.model_selection import train_test_split

X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

In [159]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((9498, 2283), (9498,), (3167, 2283), (3167,))

### Build the model

In [164]:
print(type(X_train))
print(type(X_cv))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [165]:
print(X_train.columns)
print(X_cv.columns)

Index(['RATING', 'VOTES', 'CITY_MEAN_RATING', 'LOCALITY_MEAN_RATING', 'bakery',
       'bar', 'beverage', 'bhojanalya', 'bites', 'cafe',
       ...
       'CLOSED_Closed (Mon-Thu)', 'CLOSED_Closed (Mon-Tue)',
       'CLOSED_Closed (Sat)', 'CLOSED_Closed (Sat-Sun)', 'CLOSED_Closed (Sun)',
       'CLOSED_Closed (Thu-Sun)', 'CLOSED_Closed (Tue)', 'CLOSED_Closed (Wed)',
       'CLOSED_Closed (Wed-Sun)', 'CLOSED_NA'],
      dtype='object', length=2283)
Index(['RATING', 'VOTES', 'CITY_MEAN_RATING', 'LOCALITY_MEAN_RATING', 'bakery',
       'bar', 'beverage', 'bhojanalya', 'bites', 'cafe',
       ...
       'CLOSED_Closed (Mon-Thu)', 'CLOSED_Closed (Mon-Tue)',
       'CLOSED_Closed (Sat)', 'CLOSED_Closed (Sat-Sun)', 'CLOSED_Closed (Sun)',
       'CLOSED_Closed (Thu-Sun)', 'CLOSED_Closed (Tue)', 'CLOSED_Closed (Wed)',
       'CLOSED_Closed (Wed-Sun)', 'CLOSED_NA'],
      dtype='object', length=2283)

In [166]:
X_train.columns = X_train.columns.str.strip()
X_cv.columns = X_cv.columns.str.strip()

In [167]:
print(X_train.head())
print(X_cv.head())

       RATING   VOTES  CITY_MEAN_RATING  LOCALITY_MEAN_RATING  bakery  \
16122     3.8  1511.0          3.697132              3.694737     0.0
16264     4.4  2055.0          3.697132              3.904348     0.0
7491      3.0     4.0          2.456800              2.405691     0.0
14972     3.8   318.0          3.634672              3.917949     0.0
12210     3.5  1211.0          3.621074              3.572222     0.0

           bar  beverage  bhojanalya     bites  cafe  ...  \
16122  0.80821       0.0         0.0  0.000000   0.0  ...
16264  1.00000       0.0         0.0  0.000000   0.0  ...
7491   0.00000       0.0         0.0  0.000000   0.0  ...
14972  0.00000       0.0         0.0  0.707107   0.0  ...
12210  0.80821       0.0         0.0  0.000000   0.0  ...

       CLOSED_Closed (Mon-Thu)  CLOSED_Closed (Mon-Tue)  CLOSED_Closed (Sat)  \
16122                        0                        0                    0
16264                        0                        0                    0
7491                         0                        0                    0
14972                        0                        0                    0
12210                        0                        0                    0

       CLOSED_Closed (Sat-Sun)  CLOSED_Closed (Sun)  CLOSED_Closed (Thu-Sun)  \
16122                        0                    0                        0
16264                        0                    0                        0
7491                         0                    0                        0
14972                        0                    0                        0
12210                        0                    0                        0

       CLOSED_Closed (Tue)  CLOSED_Closed (Wed)  CLOSED_Closed (Wed-Sun)  \
16122                    0                    0                        0
16264                    0                    0                        0
7491                     0                    0                        0
14972                    0                    0                        0
12210                    0                    0                        0

       CLOSED_NA
16122          1
16264          1
7491           1
14972          1
12210          1

[5 rows x 2283 columns]
       RATING   VOTES  CITY_MEAN_RATING  LOCALITY_MEAN_RATING  bakery  bar  \
16699     4.1  1571.0          3.634672              4.133333     0.0  0.0
13148     3.3   121.0          3.621074              3.525000     1.0  0.0
5077      1.0     0.0          3.712857              3.013889     0.0  0.0
12213     4.9  9698.0          3.584408              3.696552     0.0  0.0
13336     3.7   295.0          3.621074              3.460784     0.0  0.0

       beverage  bhojanalya     bites  cafe  ...  CLOSED_Closed (Mon-Thu)  \
16699       0.0         0.0  0.000000   0.0  ...                        0
13148       0.0         0.0  0.000000   0.0  ...                        0
5077        0.0         0.0  0.707107   0.0  ...                        0
12213       0.0         0.0  0.000000   0.0  ...                        0
13336       0.0         0.0  0.000000   0.0  ...                        0

       CLOSED_Closed (Mon-Tue)  CLOSED_Closed (Sat)  CLOSED_Closed (Sat-Sun)  \
16699                        0                    0                        0
13148                        0                    0                        0
5077                         0                    0                        0
12213                        0                    0                        0
13336                        0                    0                        0

       CLOSED_Closed (Sun)  CLOSED_Closed (Thu-Sun)  CLOSED_Closed (Tue)  \
16699                    0                        0                    0
13148                    0                        0                    0
5077                     0                        0                    0
12213                    0                        0                    0
13336                    0                        0                    0

       CLOSED_Closed (Wed)  CLOSED_Closed (Wed-Sun)  CLOSED_NA
16699                    0                        0          1
13148                    0                        0          1
5077                     0                        0          1
12213                    0                        0          1
13336                    0                        0          1

[5 rows x 2283 columns]

In [168]:
categorical_features.append('feature1')

In [175]:
from sklearn.ensemble import BaggingRegressor

br = BaggingRegressor(n_estimators=30, max_samples=0.9, max_features=1.0, bootstrap=True, bootstrap_features=True, oob_score=True, n_jobs=1, random_state=42, verbose=1)

In [180]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=40, criterion='squared_error', max_depth=None, min_samples_split=4, min_samples_leaf=1, 
                            min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, 
                            min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=1, 
                            random_state=42, verbose=1, warm_start=False)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_cv)

In [185]:
# Drop duplicate columns
X_train = X_train.loc[:, ~X_train.columns.duplicated()]

### Predict on test set

In [193]:
Xtrain = train_df.drop(labels='COST', axis=1)

In [194]:
ytrain = train_df['COST'].values

In [195]:
Xtest = test_df

In [196]:
Xtrain.shape, ytrain.shape, Xtest.shape

((12665, 2283), (12665,), (4230, 2283))

In [198]:
X.reset_index(drop=True, inplace=True)

In [205]:
X.loc[train_index]

,RATING,VOTES,CITY_MEAN_RATING,LOCALITY_MEAN_RATING,bakery,bar,beverage,bhojanalya,bites,cafe,...,CLOSED_Closed (Mon-Thu),CLOSED_Closed (Mon-Tue),CLOSED_Closed (Sat),CLOSED_Closed (Sat-Sun),CLOSED_Closed (Sun),CLOSED_Closed (Thu-Sun),CLOSED_Closed (Tue),CLOSED_Closed (Wed),CLOSED_Closed (Wed-Sun),CLOSED_NA
0,3.6,49.0,3.417241,3.457143,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
1,4.2,30.0,3.584408,3.472222,0.0,0.80821,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
2,3.8,221.0,3.584408,3.550000,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
3,4.1,24.0,3.697132,3.721622,0.0,0.00000,0.0,0.0,0.707107,0.0,...,0,0,0,0,0,0,0,0,0,1
4,3.8,165.0,3.697132,3.986420,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12660,3.8,546.0,3.621074,3.649074,0.0,0.00000,0.0,0.0,0.707107,0.0,...,0,0,0,0,0,0,0,0,0,1
12661,4.3,1214.0,3.697132,4.175000,0.0,0.80821,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
12662,4.0,608.0,3.519910,3.844231,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
12663,3.5,32.0,3.584408,3.487500,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1
12664,3.4,677.0,3.621074,3.569565,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,1

In [207]:
np.mean(errlgb,0), np.mean(err_br,0), np.mean(err_rf,0)

(nan, nan, nan)

In [208]:
lgbm_final = np.exp(np.mean(y_pred_totlgb,0))
br_final = np.exp(np.mean(y_pred_totbr,0))
rf_final = np.exp(np.mean(y_pred_totrf,0))

In [209]:
y_pred = (lgbm_final*0.70 + br_final*0.215 + rf_final*.15) 
y_pred

nan

In [214]:
df_sub = pd.DataFrame({'COST': [y_pred]})

# Write DataFrame to Excel file
writer = pd.ExcelWriter('Output.xlsx', engine='xlsxwriter')
df_sub.to_excel(writer, sheet_name='Sheet1', index=False)
writer.save()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mdirf\AppData\Local\Temp\ipykernel_11612\1414018269.py", line 4, in <module>
    writer = pd.ExcelWriter('Output.xlsx', engine='xlsxwriter')
  File "C:\Users\mdirf\anaconda3\lib\site-packages\pandas\io\excel\_xlsxwriter.py", line 198, in __init__
ModuleNotFoundError: No module named 'xlsxwriter'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\mdirf\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\mdirf\anaconda3\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\mdirf\anaconda3\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0